# System files
.DS_Store

# Python cache files
__pycache__/

# Virtual environment files
Pipfile
Pipfile.lock

# Environment variables
.env

# Specific Python files
config.py

# Jupyter Notebooks
playground.ipynb

# Directories for input/output data
input/*
output/*
data/*